# Using HDF5 with Python

### Import the required libraries

In [1]:
from pandas import (
    DataFrame, HDFStore
)
import pandas as pd
import numpy as np

### Create a dataframe

In [2]:
df = DataFrame(np.random.randn(5,3), columns=['A', 'B', 'C',])

In [3]:
df

          A         B         C
0  0.798491 -1.340636  0.128490
1  0.019427 -0.391309 -0.367424
2 -0.018642 -0.987012 -0.253297
3  0.271790  1.757260 -0.182773
4  1.275155 -1.488722 -0.114152

### Create a HDF5 format file for saving th dataframe

In [4]:
store = HDFStore('dataset.h5')

In [5]:
store

<class 'pandas.io.pytables.HDFStore'>
File path: dataset.h5
Empty

### Add the dataframe to the HDF5 file

In [6]:
store.put('d1', df, format='table', data_columns=True)

In [7]:
store

<class 'pandas.io.pytables.HDFStore'>
File path: dataset.h5
/d1            frame_table  (typ->appendable,nrows->5,ncols->3,indexers->[index],dc->[A,B,C])

### Accessing the dataframe from HDF5 file

In [8]:
store['d1']

          A         B         C
0  0.798491 -1.340636  0.128490
1  0.019427 -0.391309 -0.367424
2 -0.018642 -0.987012 -0.253297
3  0.271790  1.757260 -0.182773
4  1.275155 -1.488722 -0.114152

### Appending another dataframe to already exisiting dataframe in HDF5 file

In [9]:
store.append('d1', DataFrame(np.random.randn(5,3), columns=['A', 'B', 'C']))

In [10]:
store

<class 'pandas.io.pytables.HDFStore'>
File path: dataset.h5
/d1            frame_table  (typ->appendable,nrows->10,ncols->3,indexers->[index],dc->[A,B,C])

In [11]:
store['d1']

          A         B         C
0  0.798491 -1.340636  0.128490
1  0.019427 -0.391309 -0.367424
2 -0.018642 -0.987012 -0.253297
3  0.271790  1.757260 -0.182773
4  1.275155 -1.488722 -0.114152
0  1.717175  0.069699 -0.704750
1  0.425725 -2.764577 -0.515929
2 -0.900195  1.199204 -1.749863
3 -1.458888 -0.085344 -0.193588
4  0.828563  1.021781 -0.177272

### Closing the HDF5 file

In [12]:
store.close()

In [13]:
store

<class 'pandas.io.pytables.HDFStore'>
File path: dataset.h5
File is CLOSED

### Opening HDF5 file - Method 1 (not advised)

In [14]:
df = pd.read_hdf('dataset.h5')

In [15]:
df

          A         B         C
0  0.798491 -1.340636  0.128490
1  0.019427 -0.391309 -0.367424
2 -0.018642 -0.987012 -0.253297
3  0.271790  1.757260 -0.182773
4  1.275155 -1.488722 -0.114152
0  1.717175  0.069699 -0.704750
1  0.425725 -2.764577 -0.515929
2 -0.900195  1.199204 -1.749863
3 -1.458888 -0.085344 -0.193588
4  0.828563  1.021781 -0.177272

### Opening HDF5 file - Method 2 (recommended way)

In [16]:
store = HDFStore('dataset.h5')

In [17]:
store

<class 'pandas.io.pytables.HDFStore'>
File path: dataset.h5
/d1            frame_table  (typ->appendable,nrows->10,ncols->3,indexers->[index],dc->[A,B,C])

### Adding dataframe to the opened HDF5, using the default format

In [18]:
store.put('d2', DataFrame(np.random.randn(7,4)))
store.put('d3', DataFrame(np.random.randn(14,3)))

In [19]:
store

<class 'pandas.io.pytables.HDFStore'>
File path: dataset.h5
/d1            frame_table  (typ->appendable,nrows->10,ncols->3,indexers->[index],dc->[A,B,C])
/d2            frame        (shape->[7,4])
/d3            frame        (shape->[14,3])

### Difference between frame_table and frame formats

#### frame_table format

In [20]:
store.append('d1', pd.DataFrame(np.random.randn(3,3), columns=['A', 'B', 'C']))

In [21]:
store['d1']

          A         B         C
0  0.798491 -1.340636  0.128490
1  0.019427 -0.391309 -0.367424
2 -0.018642 -0.987012 -0.253297
3  0.271790  1.757260 -0.182773
4  1.275155 -1.488722 -0.114152
0  1.717175  0.069699 -0.704750
1  0.425725 -2.764577 -0.515929
2 -0.900195  1.199204 -1.749863
3 -1.458888 -0.085344 -0.193588
4  0.828563  1.021781 -0.177272
0 -1.280339  0.376657 -0.159967
1 -0.121461 -1.002664  1.343289
2  1.075885  0.430670 -0.049668

#### frame format

In [22]:
store.append('d2', pd.DataFrame(np.random.randn(4,4)))

ValueError: Can only append to Tables

#### The frame format (default) is faster than frame_table format

### To view the dataframe with ordered index

In [23]:
store['d1/table']

    index         A         B         C
0       0  0.798491 -1.340636  0.128490
1       1  0.019427 -0.391309 -0.367424
2       2 -0.018642 -0.987012 -0.253297
3       3  0.271790  1.757260 -0.182773
4       4  1.275155 -1.488722 -0.114152
5       0  1.717175  0.069699 -0.704750
6       1  0.425725 -2.764577 -0.515929
7       2 -0.900195  1.199204 -1.749863
8       3 -1.458888 -0.085344 -0.193588
9       4  0.828563  1.021781 -0.177272
10      0 -1.280339  0.376657 -0.159967
11      1 -0.121461 -1.002664  1.343289
12      2  1.075885  0.430670 -0.049668

In [24]:
store.close()